<h1>2023 Monthly Gained Powerscore</h1>

<form (ngSubmit)="submit()" [formGroup]="form">
  <label>Compare with</label>&nbsp;
  <input type="text" formControlName="ign" placeholder="Enter exact IGN"/>
  <button type="submit">Add</button>
</form>

<ng-container *ngIf="lineChartData.datasets.length">
  <canvas baseChart width="1000" height="400"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend">
  </canvas>
</ng-container>
